
.cardbody{
    max-width:20rem;
}
.dropcus{
    background-color:black
}

.drop{
    background-color:burlywood;
}

.socialmedia {
    max-width: 20rem;
    padding:20%;
}
.data{
    padding:20%;
    padding-top:5%;
}
